<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="header"></div>
    <title>Title</title>
</head>
<body>
<div th:insert="nav-bar"></div>
<div class="container">
    <h2>Appeal Form</h2>
    <form action="#" th:action="@{/process}" method="post">
        <div calss="form-group">
            <label for="InputTextarea1">Please include a reason for your appeal request</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </form>
</div>
<div th:insert="bootStrapJS"></div>
</body>
</html>