<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Interview Form</title>
    <div th:replace="base::header"></div>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="base :: navbar"></div>

<div class="container">
    <div class="jumbotron">
        <h1>Interview Q's</h1>
        <hr class="my-4">

        <div class="form-row">
            <form action="#" th:action="@{/processinterview}" th:object="${qsAndAs}" method="post">
<!--                <input type="hidden" th:field="${job.id}"/>-->
<!--                <input type="hidden" th:field="${job.title}"/>-->
<!--                <input type="hidden" th:field="${job.phone}"/>-->
<!--                <input type="hidden" th:field="${job.employerName}"/>-->
<!--                <input type="hidden" th:field="${job.employerEmail}"/>-->
<!--                <input type="hidden" th:field="${job.description}"/>-->
<!--                <input type="hidden" th:field="${job.postedDate}"/>-->
<!--                <input type="hidden" th:field="${job.keywords}"/>-->
<!--                <input type="hidden" th:field="${job.curStatus}"/>-->
<!--                <input type="hidden" th:field="${job.user}"/>-->
                <!--            <p> this is not hidden</p>-->
                <div class="form-row">
                    <!--                <p>is this showing up?</p>-->
                    <div class="col" th:each="qA : ${qsAndAs}">
                        <input type="hidden" th:field="${qA.id}"/>
                        <input type="hidden" th:field="${qA.job}">
                        <!--                    <input type="hidden" th:field="${qA.question}">-->
                        <!--                    <input type="hidden" th:field="${q.answer}">-->
                        <!--                    <p>div is working?</p>-->
                        <label th:text="${qA.question}"></label>
                        <label th:text="${qA.answer}"></label>
                        <input type="text" placeholder="Answer" th:field="${qA.answer}"/>
                    </div>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div th:insert="base :: footnote"></div>
</body>
</html>