<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>

    <th:block th:insert="base :: header"></th:block>
    <style>
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: 5px;
            margin-left: 5px;
        }

    </style>

</head>
<body style="background-color: seagreen">

<div th:replace="base::navbar"></div>
<br>

<div class="container" style="background-color: lightgoldenrodyellow">
    <center><h3> <span th:text="${user.getUsername()}" ></span>'s Home Page</h3></center>
</div>
<!--title, phone, employerName, employerEmail;-->

<!--private String description;-->

<!--@DateTimeFormat(pattern = "yyyy-MM-dd")-->
<!--private Date postedDate;-->

<!--private ArrayList<String> keywords;-->
<!--    private StaticData.Status curStatus;-->

<!--    private HashMap<Integer, ArrayList<String>> questionsAndAnswers;-->

<!--<span th:if="${user_id == job.user.id}">-->
<!--                            <a th:href="@{/update/{id}(id=${job.id})}">Update</a>-->
<!--                            <a th:href="@{/detail/{id}(id=${job.id})}">Details</a>-->
<!--                            <a th:href="@{/delete/{id}(id=${job.id})}">Delete</a>-->
<!--                    </span>-->
<center>
<div class="container-fluid">
    <div class="card-columns">
        <div th:each="job:${jobs}">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-30">
                    <div class="card" style="max-width: 350px;">
                        <div class="card-body-top">
                            <p class="card-text">Job Title: <span th:text="${job.title}"></span>&nbsp;&nbsp;
<!--                                <a style="color: whitesmoke" href="/cancel">Cancel</a>-->
                                <a style="color: red" th:href="@{/cancel/{id}(id=${job.id})}">Cancel</a>
                            </p>
                        </div>
                        <div class="card-body-mid">
                            <p class="card-text">Status: <span th:text="${job.getCurStatus()}"></span></p>
                            <span th:if="${job.getCurStatus() == statusPendingInterview}">
                                <a style="color: red" th:href="@{/schedule/{id}(id=${job.id})}" onclick="schedInterview()">Schedule</a>
                            </span>
                        </div>
                        <div class="card-body-bottom">
                            <p class="card-text">
                                Posted Date: <span th:text="${#dates.format(job.postedDate, 'dd-MMM-yyyy')}"></span>
                            <span th:if="${job.getCurStatus() == statusPendingScheduledInterview}">
                                Inverview Scheduled for 2PM on 10-26-2019
                            </span>
                            <span th:if="${job.getCurStatus() == statusRejected}">
                                <a style="color: red" th:href="@{/appeal/{id}(id=${job.id})}">Appeal</a>
                            </span>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>
</center>
<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container" th:fragment="footnote">
    <footer>
        <center>
            <div class="footer-main-div" style="alignment: center">
                <p style="color:greenyellow; ">&copy; Copyright 2019 John Anderjaska and DeadPool Team</p>
            </div>
        </center>
    </footer>
</div>

</body>
</html>