<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Schedule Form</title>
    <div th:replace="base::header"></div>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="base :: navbar"></div>

<div class="container">
    <div class="jumbotron">
        <h1>Interview Q's</h1>

        <form action="#" th:action="@{/processinterview}" th:object="${userAnswer}" method="post">
            <input type="hidden" th:field="*{userId}">
            <input type="hidden" th:field="*{jobId}">
            <div class="form-group">
                <label for="exampleFormControlTextarea3">Answer: </label>
                <textarea th:field="*{answer}"
                          class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
                <!--                        th:value="${answer.answers.get(currJob.getId())}"-->
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>


<div th:insert="base :: footnote"></div>
</body>
</html>